/* Parent Component styles */
.content-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.back-btn:hover {
    color: var(--color-secondary-text-2);
}

.content-wrapperd {
    display: flex;
    gap: 64px;
    background-color: white;
    margin-bottom: 80px;
    width: 100%;
}

.content-wrapperd h4, h5 {
    padding-top: 84px;
    margin-top: -84px;
}
.content-wrapperd.port-container{
    flex-wrap: wrap;
    max-width: 700px;
    min-width: 500px;
}

.l-column {
    display: flex;
    flex-grow: 1;
    min-width: fit-content;
    flex-shrink: 1;
    flex-basis: 0;
}

.r-column {
    display: flex;
    flex-grow: 1;
    min-width: fit-content;
    flex-shrink: 1;
    flex-basis: 0;
}

.cover {
    margin-bottom: 40px;
    width: 100%;
    object-fit: cover;
    height: 595px;
    
}

.tittle-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    z-index: 18;
}

.tittle-con a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: var(--color-secondary-text);
    line-height: 24px;
}

.paragraph-div {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1.475em;
    margin-right: -1.475em;
    text-align: center;
    color: var(--color-secondary-text-2);
    margin-top: 40px;
    margin-bottom: 40px;
}

.parag-con {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.parag-con p {
    font-size: 16px;
    line-height: 24px;
}

.parag-con h6 {
    font-weight: 600;
    margin-top: 6px;
    font-size: 16px;
}

.parag-con h5 {
    font-weight: 600;
}

.parag-con li {
    list-style: disc;
    margin-left: 24px;
}

h5.sub-title {
    font-weight: 500;
}

.text-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.text-wraper a{
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}

/* figure styles */
.figure-con {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
    flex-grow: 1;
}

.sub-title {
    font-weight: 500;
    font-size: 20px;
}

.figure-con small{
    color: var(--color-secondary-text-2);
    line-height: 24px;
    font-size: 14px;
}
.figure-con img {
    object-fit: contain;
    max-width: 100%;
}

.figure-wraper {
    display: flex;
    gap: 24px;
    width: 100%;
}

/* Related Info */

.relInfo-Wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.relInfo-con {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-left: 40px;
    border-left: 1px solid var(--color-outline);
    position: sticky;
    top: 100px;
    height: fit-content;
    margin-top: 40px;
    max-width: 377px;
    min-width: 377px;
}

.relInfo-con h6 {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary-text);
}

.info-wrapper {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.info-wrapper h6 > b {
    font-size: 16px;
}

.chip-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.chip-wrapper.chip {
    width: fit-content;
    background-color: white;
    border: 1px solid var(--color-outline);
    font-weight: 600;
    font-size: 14px;
}

/* TOC */

.toc-con {
    display: flex;
    top: 100px;
    position: sticky;
    height: fit-content;
    margin-left: 32px;
    width: 345px;
    border-left: 1px solid var(--color-outline);
    margin-top: 40px;
}
.toc-con ul{
    display: flex;
    flex-direction: column;
    min-width: 240px;
}

.toc-con li {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 20px;
}

.toc-con  a {
    /* padding: 8px; */
    padding: 6px 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-left: 3px solid rgba(255, 255, 255, 0);
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

.toc-con li.active > a {
    position: relative;
    /* background-color: var(--color-primary-muted); */
    color: var(--color-primary);
    /* border-left: 2px solid var(--color-primary);  */
} 

.toc-con li.active > a:after {
    content: "";
    display: block;
    position: absolute;
    right: -36px;
    top: 0px;
    border-left: 3px solid var(--color-primary);
    background-color: var(--color-primary-muted);
    width: 260px;
    height: 32px;
    margin-right: 35px;
    z-index: -1;
}

/* .casestudy-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
} */

.sticky-toc {
    display: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 18;
    height: fit-content;
    width: fit-content;
    background-color: var(--color-primary);
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.sticky-toc-list {
    position: fixed;
    bottom: calc(24px + 50px + 16px);
    right: 24px;
    z-index: 19;
    background-color: white;
    border: 1px solid var(--color-outline);
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    width: 264px;
    display: none;
}


/* .toc-con li.active {
    background-color: var(--color-primary-muted);
    color: var(--color-primary);
    /* border-left: 2px solid var(--color-primary); 
 */

/* .toc-con li.active:after{
    display: block;
    background-color: var(--color-primary-muted);
    color: var(--color-primary);
    border-left: 2px solid var(--color-primary);
} */