.under-construct img {
    width: 30%;
    height: auto;
}

.under-construct {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 500px;
    margin-top: 160px;
}

.under-construct h4 {
    font-weight: 500;
}