.under-construct img {
    min-width: 400px;
    object-fit: cover;
    height: auto;
}

.under-construct {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 500px;
    margin-top: 0px;
}

.under-construct h4 {
    font-weight: 500;
    text-align: center;
}