@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #ffffff;
    --color-primary: #67B6FF;
    --color-primary-muted: #F8FAFF;
    --color-primary-text: #434343;
    --color-secondary-text: #595959;
    --color-secondary-text-2: #8C8C8C;
    --color-chips-muted: #F5F5F5;
    --color-outline: #F0F0F0;


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--color-primary);

}