
.port-container h2 {
    font-weight: 600;
}

.projects-container {
    display: flex;
    max-width: 1080px;
    gap: 24px;
    margin: 0px 24px;
    margin-top: 48px;
    justify-content: center;
    align-self: center;
    width: 100%;
}

/* Portofolio Item Classes */

.top-content {
    display: flex;
    gap: 24px;
    max-width: 1080px;
    justify-content: space-around;
    margin-bottom: 24px;
}

.large-porto {
    width: 100%;
}

.medium-porto {
    display: flex;
    gap: 24px;
    max-width: 1080px;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 24px;
    position: relative;
    flex-wrap: wrap;
}

small {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
    color: var(--color-primary);
}
/* logo classes */
.logo-nusa {
    height: auto;
    max-width: 160px;
    width: auto;
}
.logo-cloud {
    height: 38px;
    width: 152px;
}
.logo-krista {
    height: 38px;
    width: 149px;
}

/* Portofolio Card Classes */
.card-container-1 {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    height: 792px;
    background-image: url("J:\Repo\Portfolio-product-designer\src\Assets\port1.png");
}

.card-container-2 {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    height: 792px;
    background-image: url("J:\Repo\Portfolio-product-designer\src\Assets\port2.png");
}

.card-info {
    display: flex;
    position: relative;
    height: fit-content;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    background-color: #f8faff;
    backdrop-filter: blur(16px);
    border: 1px solid #F8FAFF;
}

.card-info-v {
    display: flex;
    position: relative;
    height: 100%;
    max-width: 394px;
    flex-direction: column;
    flex-shrink: 2;
    flex-grow: 1;
    flex-basis: 0;
    gap: 24px;
    padding: 32px;
    background-color: #F8FAFF;
    border: 1px solid #F8FAFF;
}

.blank-frame {
    flex-grow: 2;
    flex-shrink: 1;
}

.logos-content{
    display: flex;
    gap: 24px;
    height: 38px;
    max-height: 38px;
    justify-content: space-between;
    align-items: center;
}

.desc-content {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.desc-content a {
    display: flex;
    gap: 8px;
    font-weight: 600;
    max-width: fit-content;
}

.card-container-3 {
    cursor: pointer;
    display: flex;
    max-width: 1080px;
    height: 528px;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    background-image: url("J:\Repo\Portfolio-product-designer\src\Assets\port3.png");
}

.medium-con {
    display: flex;
    height: 500px;
    width: 100%;
    position: relative;
    flex-grow: 1;
    min-width: 400px;
    max-width: 524px;
    border: 1px solid var(--color-outline);
}

.cover-img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    max-width: 100%;
    width: 100%;
    height: 100%;
}